target/
src/main/resources/hibernateConfig.properties
src/main/resources/embeddedConnectionConfig.properties
src/main/webapp/resources/images/

!src/main/webapp/resources/images/icons/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

