header {
  justify-content: space-around;
  display: flex;
  min-height: 10vh;
  align-items: center;
  border-bottom: 1px solid var(--hex-main-bright);
}

header a {
    text-decoration: none;
    color: var(--hex-main-bright);
}

header * {
  display: inline;
  width: 33%;
  text-align: center;
}

header img {
    height: 1.5rem;
}

header .logo img {
    height: 75;
}

#page-navigation * {
  padding: 0 .5rem;

}

#user-navigation {
  display: flex;
  justify-content: left;
  width: 100%;
}

#user-navigation > * {
    width: 100%;
}

#user-navigation img {
    cursor: pointer;
}

/* Cart */
#cartClause {
    display: flex;
    justify-content: center;
}

#cartClause #productCount {
    display: none;
    padding-top: .1em;
}

/* Drop down menu */
#account-nav {
    display: flex;
    position: absolute;
    top: 10vh;
    right: 0vw;
    flex-direction: column;
    background: rgba(var(--rgb-background), .55);
    border-radius: 0 0 .5em .5em;
}


#account-nav * {
    align-self: center;
    color: var(--hex-shadow-light);
    margin: .25rem 0;
}

.dropdown .delimiter {
    width: 80%;
    height: 1px;
    border-bottom: 1px solid;
}

.hidden {
   display: none;
}

/* Search bar */
#search-bar {
    width: 100%;
}

#search-form {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
}

#search-form button {
    margin-left: .5em;
    padding: .2em;
}

#search-bar-close {
    margin: 0;
    padding: 0;
    width: auto;
    margin-right: .45em;
    cursor: pointer;
}

#search-button-label {
    font-size: 1rem;
    color: var(--hex-main-bright);
}

#search-key-field {
    font-size: 1.25rem;
    width: 100%;
    padding: .25rem;
    font-family: 'pacifico';
    background: var(--hex-main-dark);
    border: none;
    border-radius: .25rem;
    color: var(--hex-shadow-light);
}

