
main {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 1em;
}

.hidden {
    display: none;
}

.highlighted {
    background: rgba(var(--rgb-main-bright), .5);
    border-radius: .5rem;
}

/* Tabs */
#tabs {
    flex-grow: 1;
    font-size: 1.5rem;
    user-select: none;
}

#tabs .tab {
    margin-bottom: .5em;
    color: var(--hex-shadow-light);
    cursor: pointer;
    padding: .5rem;
}

#tabs .tab:hover {
    color: var(--hex-main-light);
}

/* Tab content */
#tab-content {
    flex-grow: 3;
    text-align: center;
}

/* Account tab */
#user-data {
    text-align: left;
}

.field {
    margin-bottom: .8em;
}

.key {
    color: var(--hex-shadow-light);
}

/* Forms */
fieldset {
    border: none;
}

.input-group {
    margin: 1em 0;
    width: 100%;
}

.form-label {
    color: var(--hex-shadow-light);
}

.field-input {
    width: 100%;
    padding: .35rem;
    font-family: 'pacifico';
    font-size: 1rem;
    text-align: center;
}

.file-input {
   display: none;
}

.file-upload-button {
    background: none;
    outline: none;
    margin-top: .5em;
    border: none;
    font-size: 1rem;
    color: var(--hex-shadow-light);
    border: 2px solid var(--hex-shadow-light);
    border-radius: .35rem;
    padding: .35rem .5rem;
}

textarea {
    resize: vertical;
    width: 100%;
    height: 4rem;
    padding: .35rem;
    font-size: 1rem;
    font-family: 'pacifico';
    background: var(--hex-shadow-light);
}

.validation-error {
    color: var(--hex-main-bright);
}

.success {
    color: var(--hex-success);
}
