main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 1em;
    font-size: 1.25rem;
    margin-bottom: 1em;
}

#continueShopping {
    margin-bottom: 1em;
}

#continueShopping a {
    display: flex;
    align-items: center;
}

#continueShopping a span {
    margin-left: 1em;
}

#continueShopping .icon {
    width: 1.25em;
}

#cart {
    margin-bottom: 2em;
}

.emptyCartLabel {
    text-align: center;
}

#cart table {
    width: 100%;
    border-spacing: 0 1em;
    margin-bottom: 1.5em;
}

#cart table thead {
    color: var(--hex-shadow-light);
}

#cart table tbody {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1.5em;
}

#cart table tbody tr .productName {
    display: flex;
    align-items: center;
}

#cart table tbody tr td img {
    width: 3em;
    margin-right: 1em;
}

#cart table tbody tr .total {
    min-width: 5rem;
    max-width: 5rem;
}

#cart table .itemQuantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#cart table .itemQuantity input[type=number] {
    font-family: 'pacifico';
    text-align: center;
    font-size: 1rem;
    width: 5rem;
    padding: .2em;
    border-radius: .2em;
}

.discard {
    font-size: 2rem;
    margin-left: .2em;
}

.discard:hover {
    color: var(--hex-main-bright);
    cursor: pointer;
}

#subTable {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#grandTotal {
    text-align: right;
}

#grandTotal p {
    margin: 0;
}

#grandTotal span {
    color: var(--hex-shadow-light);
}

#grandTotalValueWithDiscount {
    margin-left: .2em;
}

#coupon {
    width: fit-content;
    float: left;
    display: flex;
}

#couponProcessingResponse {
    text-align: center;
}

#coupon input {
    text-align: center;
    font-size: 1.25rem;
    border-radius: .25em;
    margin-right: .2em;
    padding: .25rem 0;
    font-family: 'pacifico';
}

#coupon button {
    font-size: 1.2rem;
}

#checkout-clause {
    width: fit-content;
    float: right;
    margin-top: 2em;
}

#checkout-clause form {
   margin: 0;
   display: flex;
}

#checkout-clause form input[type=text] {
    font-family: 'pacifico';
    font-size: 1.25rem;
    width: 8rem;
    padding: .25em;
    margin-right: .2em;
    border-radius: .2em;
    text-align: center;
}


