body {
  padding: 0;
  margin: 0;
  background: var(--hex-background);
  color: var(--hex-shadow-dark);
}

a {
    text-decoration: none;
    color: inherit;
}

header {
  color: var(--hex-main-bright);
}

footer {
  color: var(--hex-main-bright);
}

form input[type=submit],
button {
    font-size: 1.5rem;
    font-family: 'pacifico';
    padding: 0 1rem;
    border-radius: .3em;
    color: var(--hex-shadow-light);
    background: var(--hex-background);
    border: 2px solid var(--hex-shadow-light);
    cursor: pointer;
}

form input[type=submit]:hover,
button:hover {
    color: var(--hex-background);
    background: var(--hex-shadow-light);
    transition-duration: 0.4s;
}
