
main {
    width: 80%;
    margin: auto;
}

/* Back link */
#back-link {
    width: 100%;
    margin: 1em 0;
}

#back-link img {
    width: 1rem;
}

#back-link a {
    text-decoration: none;
    color: var(--hex-main-bright);
    display: flex;
    align-items: center;
}

#back-link #back-label {
    margin-left: .75rem;
}

/* Product showcase (images) */

#product-showcase {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
}

#product-showcase > section {
    width: 50%;
}

#product-images {
    text-align: center;
}

#product-images > img {
    width: 80%;
}

#secondary-pictures {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#secondary-pictures > * {
    margin: .3em;
}

#secondary-pictures img {
    width: 25%;
}

#secondary-pictures img:hover {
    border: 3px solid var(--hex-main-bright);
    cursor: pointer;
}

/* Product details */
#product-details h1 {
    color: var(--hex-shadow-light);
}

#product-details .product-detail-label {
    color: var(--hex-shadow-light);
}

#add-product {
    display: flex;
    align-items: center;
    justify-content: start;
}

#numberToAdd {
    font-size: 1rem;
    padding: .25em;
    text-align: center;
    width: 4rem;
    margin-right: 1em;
}

/* Add Product Pop Up */
#addProductPopUp {
    width: 100%;
    padding-top: 1em;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    height: fit-content;
    display: none;
}

#addProductPopUpContent {
    text-align: center;
    background: rgba(var(--rgb-success), 0.75);
    width: fit-content;
    margin: auto;
    padding: .5em;
    border-radius: 1em;
    color: var(--hex-background);
    display: flex;
    align-items: center;
}

.closePopUp {
    font-size: 1.5rem;
    cursor: pointer;
    padding-bottom: .1rem;
}

.closePopUp:hover {
    color: var(--hex-main-bright);
}



