
main {
    width: 80%;
    margin: auto;
}

/* Back link */
#back-link {
    width: 100%;
    margin: 1em 0;
}

#back-link img {
    width: 1rem;
}

#back-link a {
    text-decoration: none;
    color: var(--hex-main-bright);
    display: flex;
    align-items: center;
}

#back-link #back-label {
    margin-left: .75rem;
}

/* Product showcase (images) */

#product-showcase {
    display: flex;
    align-items: flex-start;
}

#product-showcase > section {
    width: 50%;
}

#product-images > img {
    width: 90%;
}

/* Product details */

#product-details h1 {
    color: var(--hex-shadow-light);
}

#product-details .product-detail-label {
    color: var(--hex-shadow-light);
}




