
main {
    width: 80%;
    margin: auto;
}

/* Back link */
#back-link {
    width: 100%;
    margin: 1em 0;
}

#back-link img {
    width: 1rem;
}

#back-link a {
    text-decoration: none;
    color: var(--hex-main-bright);
    display: flex;
    align-items: center;
}

#back-link #back-label {
    margin-left: .75rem;
}

/* Product showcase (images) */

#product-showcase {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
}

#product-showcase > section {
    width: 50%;
}

#product-images {
    text-align: center;
}

#product-images > img {
    width: 80%;
}

#secondary-pictures {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#secondary-pictures > * {
    margin: .3em;
}

#secondary-pictures img {
    width: 25%;
}

#secondary-pictures img:hover {
    border: 3px solid var(--hex-main-bright);
    cursor: pointer;
}

/* Product details */
#product-details h1 {
    color: var(--hex-shadow-light);
}

#product-details .product-detail-label {
    color: var(--hex-shadow-light);
}

#add-product {
    display: flex;
    align-items: center;
    justify-content: start;
}

#numberToAdd {
    font-size: 1rem;
    padding: .25em;
    text-align: center;
    width: 4rem;
    margin-right: 1em;
}

/* Comments Section */
#newCommentContent {
    padding: 0.4em;
    font-size: 1rem;
    font-family: pacifico;
    margin: 0px;
    min-height: 4rem;
    width: 100%;
    resize: vertical;
    display: inline-block;
}

#addNewComment {
    display: inline-table;
    margin-bottom: 1em;
    width: 100%;
}

#addNewComment button {
    float: right;
    font-size: 1rem;
}

#newCommentStarsClause {
    width: fit-content;
    float: left;
    display: flex;
}

.errorMessage {
    border: .2em solid var(--hex-main-bright);
    padding: .3em;
    border-radius: .5em;
}

.comment {
    margin-bottom: .75em;
}

.commentHeader {
    display: flex;
    justify-content: space-between;
}

.commentFooter {
    text-align: right;
    font-size: .8rem;
}

.existingCommentContent {
    padding: .25em;
    border: .1rem solid var(--hex-shadow-light);
    border-radius: .3em;
}

#existingCommentsPageList {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

.page {
    padding: .3em;
    background: var(--hex-main-dark);
    border-radius: .2em;
    color: var(--hex-shadow-light);
    cursor: pointer;
    user-select: none;
}

.page:hover {
    background: var(--hex-main-light);
}

#currentPage {
    border: .1rem solid;
}

/* Add Product Pop Up */
#addProductPopUp {
    width: 100%;
    padding-top: 1em;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    height: fit-content;
    display: none;
}

#addProductPopUpContent {
    text-align: center;
    background: rgba(var(--rgb-success), 0.75);
    width: fit-content;
    margin: auto;
    padding: .5em;
    border-radius: 1em;
    color: var(--hex-background);
    display: flex;
    align-items: center;
}

.closePopUp {
    font-size: 1.5rem;
    cursor: pointer;
    padding-bottom: .1rem;
}

.closePopUp:hover {
    color: var(--hex-main-bright);
}



