form {
    width: 80%;
    margin: auto;
    margin-top: 1em;
}

form fieldset {
    border: none;
    text-align: center;
}

fieldset legend {
    text-align: center;
    font-size: 1.25rem;
    color: var(--hex-shadow-light);
}

fieldset .form-group {
    margin: 0.5em 0;
}

form .label-error {
    color: var(--hex-main-bright);
    font-size: 0.85rem;
}

form input[type=text], form input[type=password] {
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: .5em;
    font-family: 'pacifico';
    width: 100%;
    text-align: center;
    background: var(--hex-shadow-light);
}

#submit-button {
    margin-top: 1em;
}
